<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/header'); %>
        <%- include('./partials/sidebar'); %>
        <main class="book">
            <section class="pagecontent">
                <%= data1 %> <%= data2 %>
            </section>
        </main>
        <%- include('./partials/footer'); %>
    </body>
</html>